{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Shopt</title>
    <link rel="stylesheet" href="{% static 'student-dashboard-new/student-shop/shop-dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="leftpane">
        <div class="navdiv">
            <div class="logodiv">
                <img class="logo" src="{% static 'student-dashboard-new/images/site-icon.png' %}" alt="Logo">
                <span class="logo-text"><a href="{% url 'student_dashboard' %}" style="color: inherit; text-decoration: none;">TICKMYWAY</a></span>
            </div>
            <ul class="navbar">
                <li class="navmain"><a href="{% url 'student_dashboard' %}"><img src="{% static 'student-dashboard-new/images/home.png' %}"> Home</a></li>
                <li class="navmain"><a href="{% url 'student_courses' %}"><img src="{% static 'student-dashboard-new/images/courses.png' %}"> Courses</a></li>
                <li class="navmain"><a href="{% url 'student_dashboard' %}"><img src="{% static 'student-dashboard-new/images/mentoring.png' %}"> Mentor</a></li>
                <li class="navmain"><a href="{% url 'student_dashboard' %}"><img src="{% static 'student-dashboard-new/images/roadmap.png' %}"> Sandbox</a></li>
                <li class="navmain"><a href="#shop"><img src="{% static 'student-dashboard-new/images/roadmap.png' %}"> Shop</a></li>
            </ul>
        </div>
    </div>

    <div class="rightpane">
        <div class="header">
            <div class="searchbar">
                <img src="{% static 'student-dashboard-new/images/search-bar.png' %}" alt="Search" class="search-icon">
                <input type="text" placeholder="Search...">
            </div>
            

            <div class="profile">
                <a href="#profile">
                <img class="pfp" src="image.jpeg" alt="Profile Picture"></a>
            </div>
        </div>   
        <div class="main-pane">
            <div class="banner">
                <div class="banner-title"> <p>BANNERS</p></div>
                <div class="banner-gallery">
                    <div class="banner-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                    <div class="banner-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                    <div class="banner-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                    <div class="banner-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                    <div class="banner-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                </div>
                <div class="banner-buy">
                    <button class="banner-buy-button">Confirm Purchase</button>
                </div>
            </div>
            <div class="badge">
                <div class="badge-title"><p>BADGES</p></div>
                <div class="badge-gallery">
                    <div class="badge-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                    
                    <div class="badge-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                    <div class="badge-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                    <div class="badge-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                    <div class="badge-img">
                        <button>
                        <img src="{% static 'student-dashboard-new/images/banner_test.png' %}" alt="">
                        </button>
                    </div>
                </div>
                <div class="badge-buy">
                    <button class="badge-buy-button">Confirm Purchase</button>
                </div>
            </div>
        </div>
    

<script src="{% static 'student-dashboard-new/student-shop/shop-dashboard.js' %}"></script>
</body>
</html>